<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Travels</title>
  </head>
  <body>
    <h3>Hello, {{user.name}}!</h3>
    <a href="/logout">Logout</a>
    <div class="">
      <h2>Your Trip Schedules</h2>
      <table>
        <tr>
          <th>Destination</th>
          <th>Travel Start Date</th>
          <th>Travel End Date</th>
          <th>Plan</th>
        </tr>
        {% for detail in details %}
        <tr>
          <td>
            <a href="/destination/{{detail.id}}">{{detail.destination}}</a>
          </td>
          <td>
            {{detail.start_date}}
          </td>
          <td>
            {{detail.end_date}}
          </td>
          <td>
            {{detail.description}}
          </td>
        </tr>
        {% endfor %}
        {% for join in joins %}
        <tr>
          <td>
            <a href="/destination/{{join.location_id.id}}">{{join.location_id.destination}}</a>
          </td>
          <td>
            {{join.location_id.start_date}}
          </td>
          <td>
            {{join.location_id.end_date}}
          </td>
          <td>
            {{join.location_id.description}}
          </td>
          {% endfor %}
        </tr>
      </table>
    </div>
    <div class="">
      <h3>Other User's Travel Plans</h3>
      <table>
        <tr>
          <th>Name</th>
          <th>Destination</th>
          <th>Travel Start Date</th>
          <th>Travel End Date</th>
          <th>Do you Want to Join?</th>
        </tr>
        {% for other in others %}
        <tr>
          <td>
            {{other.user_id.name}}
          </td>
          <td>
            <a href="/destination/{{other.id}}">{{other.destination}}</a>
          </td>
          <td>
            {{other.start_date}}
          </td>
          <td>
            {{other.end_date}}
          </td>
          <td>
            <a href="/join/{{other.id}}">Join</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <a href="/add_travel">Add Travel Plan</a>
  </body>
</html>
